# Admin Credentials (Frontend)
VITE_ADMIN_ID=admin
VITE_ADMIN_SECRET=123456

# Meta API
META_ACCESS_TOKEN=

# JWT Secret
JWT_SECRET=your_jwt_secret_here

# Database (Use PostgreSQL string like Vercel Postgres or Supabase)
DATABASE_URL="postgresql://user:password@host/dbname?sslmode=require"

# AI Studio
GEMINI_API_KEY=
APP_URL=
